@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1>Frontpage!</h1>
        </div>
        <div>
            <button type="button" class="btn btn-success">DOIT!</button>
        </div>
    </div>
</body>
</html>